*.amn filter=lfs diff=lfs merge=lfs -text
*.mmn filter=lfs diff=lfs merge=lfs -text
*.eig filter=lfs diff=lfs merge=lfs -text
*.chk.fmt filter=lfs diff=lfs merge=lfs -text
*.vmn filter=lfs diff=lfs merge=lfs -text
*.nnkp filter=lfs diff=lfs merge=lfs -text
*.spn filter=lfs diff=lfs merge=lfs -text
*.UPF filter=lfs diff=lfs merge=lfs -text
*.upf filter=lfs diff=lfs merge=lfs -text
UNK*.1 filter=lfs diff=lfs merge=lfs -text
