name = "Wannier"
uuid = "2b19380a-1f7e-4d7d-b1b8-8aa60b3321c9"
authors = ["Junfeng Qiao <qiaojunfeng@outlook.com>"]
version = "0.4.0"

[deps]
Artifacts = "56f22d72-fd6d-98f1-02f0-08ddc0907c33"
Bravais = "ada6cbde-b013-4edf-aa94-f6abe8bd6e6b"
Brillouin = "23470ee3-d0df-4052-8b1a-8cbd6363e7f0"
Comonicon = "863f3e99-da2a-4334-8734-de3dacbe5542"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FastLapackInterface = "29a986be-02c6-4525-aec4-84b980013641"
FileTrees = "72696420-646e-6120-6e77-6f6420746567"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
LazyGrids = "7031d0ef-c40d-4431-b2f8-61a8d2f650db"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NLSolversBase = "d41bc354-129a-5804-8e4c-c37616107c6c"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
OffsetArrays = "6fe1bfb0-de20-5000-8ca7-80f57d26f881"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
PackageExtensionCompat = "65ce6f38-6b18-4e1d-a461-8949797d7930"
PeriodicTable = "7b2266bf-644c-5ea3-82d8-af4bbd25a884"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Spglib = "f761d5c5-86db-4880-b97f-9680a7cccfb5"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
WannierIO = "cb1bc77f-5443-4951-af9f-05b616a3e422"

[weakdeps]
PlotlyJS = "f0f68f2c-4968-5e81-91da-67840de0976a"

[extras]
PlotlyJS = "f0f68f2c-4968-5e81-91da-67840de0976a"

[extensions]
WannierPlotlyJSExt = ["PlotlyJS"]

[compat]
Bravais = "0.1"
Brillouin = "0.5.8"
Comonicon = "1"
DelimitedFiles = "1"
DocStringExtensions = "0.9"
FastLapackInterface = "2"
FileTrees = "0.3"
LazyGrids = "0.4, 0.5"
NLSolversBase = "7.8"
NearestNeighbors = "0.4"
OffsetArrays = "1.12"
Optim = "1.7"
PackageExtensionCompat = "1"
PeriodicTable = "1.1"
PlotlyJS = "0.18"
ProgressMeter = "1.7"
Reexport = "1.2"
Spglib = "0.6, 0.7"
StaticArrays = "1"
WannierIO = "0.2.2"
julia = "1.8.4"
