name = "Wannier"
uuid = "2b19380a-1f7e-4d7d-b1b8-8aa60b3321c9"
authors = ["Junfeng Qiao <qiaojunfeng@outlook.com>"]
version = "0.3.1"

[deps]
AtomsBase = "a963bdd2-2df7-4f54-a1ee-49d51e6be12a"
Bravais = "ada6cbde-b013-4edf-aa94-f6abe8bd6e6b"
Brillouin = "23470ee3-d0df-4052-8b1a-8cbd6363e7f0"
Comonicon = "863f3e99-da2a-4334-8734-de3dacbe5542"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
FastLapackInterface = "29a986be-02c6-4525-aec4-84b980013641"
LazyGrids = "7031d0ef-c40d-4431-b2f8-61a8d2f650db"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NLSolversBase = "d41bc354-129a-5804-8e4c-c37616107c6c"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
PackageCompiler = "9b87118b-4619-50d2-8e1e-99f35a4d4d9d"
PeriodicTable = "7b2266bf-644c-5ea3-82d8-af4bbd25a884"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
ProgressBars = "49802e3a-d2f1-5c88-81d8-b72133a6f568"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Spglib = "f761d5c5-86db-4880-b97f-9680a7cccfb5"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
WannierIO = "cb1bc77f-5443-4951-af9f-05b616a3e422"

[compat]
Bravais = "0.1"
Brillouin = "0.5.8"
Comonicon = "1"
LazyGrids = "0.4"
NLSolversBase = "7.8"
NearestNeighbors = "0.4"
Optim = "1.7"
PackageCompiler = "2"
PeriodicTable = "1.1"
ProgressBars = "1.4"
Reexport = "1.2"
Spglib = "0.6"
StaticArrays = "1"
WannierIO = "0.1"
julia = "1.8.4"
